<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

<!-- META -->
    <meta property="og:title" content="IKEA | Mašta može svašta" />
<meta property="og:type" content="article" />
<meta property="og:url" content="http://masta-moze-svasta.hr" />
<meta property="og:image" content="http://masta-moze-svasta.hr/img/OG-ImageHR.png" /> 
<meta property="og:description" 
  content="U robnoj kući IKEA prijatelji iz mašte naših mališana mogu postati stvarni. Organiziramo „Mašta može svašta“ druženja u kojima svako dijete ima priliku crtama i bojama dočarati svoju igračku iz snova." />


    <link rel="icon" href="<%= BASE_URL %>favicon.ico">

<!-- CAPTCHA -->
    <script src="https://www.google.com/recaptcha/api.js?onload=vueRecaptchaApiLoaded&render=explicit" async defer>
</script> 

  <script src="https://code.createjs.com/createjs-2015.11.26.min.js"></script>

<!-- <script src="King_animation_600x600.js"></script>
<script src="King.js"></script> -->
<!--     
<script src="Music_animation_600x600.js?1571400075872"></script>
<script src="Music.js"></script> -->

    <title>IKEA | Mašta može svašta</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but masta_radi_svasta doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  
    <!--  <script src="https://www.google.com/recaptcha/api.js" async defer></script> -->

<!-- <script src="King_animation_600x600.js"></script>
<script src="King.js"></script>

<script src="Music_animation_600x600.js?1571400075872"></script>
<script src="Music.js"></script> -->
  </body>
</html>
