<template>
  <div id="goodcause">
    <Header />
    <div class="container px-8 mx-auto">
      <!-- Good cause-->
      <div class="flex mb-4 pb-8 pt-8">
        <div class="w-3/4 mx-auto text-center">
          <h2 class="naslov">Glasaj za dobrobit djece</h2>
         <!--  <p class="pt-5 text-white">
            Djeca su oslobodila maštu i jedinstvene
            <span class="font-bold">SAGOSKATT</span> igračke ugledale su svjetlo dana. Sad je došlo vrijeme za igru, ali i za korak dalje – za dobrotvorne svrhe.
          </p>
          <p class="pt-5 text-white">
            <span class="font-bold">100 % prihoda</span>
            od prodaje SAGOSKATT igračaka donirat ćemo jednoj od navedenih udruga koje svojim predanim radom doprinose sreći i kvaliteti života djece u Hrvatskoj.
          </p> -->

                <p class="pt-5 text-white">
          Udruga koju ste odabrali je <strong class=""><br><br>Savez društava „Naša djeca“ Hrvatske</strong> 
          </p>
         <!--  <p class="pt-5 text-white">Još nisi <strong>IKEA Family</strong> član? Učlaniti se možeš <a target="_blank" href="https://secure.ikea.com/webapp/wcs/stores/servlet/CreateUser?formName=createFamilyUser&storeId=52&langId=-75&catalogId=11001" class="underline"><strong>ovdje.</strong></a>  </p> -->
        </div>
      </div>
    
      <div class="flex flex-wrap mb-4 pb-24 pt-16 -mx-2">
        <div
          v-for="(udruga, index) in udruge"
          :key="udruga.catID"
          class="w-full px-2 py-6 sm:py-0 sm:w-1/2 md:w-1/3 mx-auto text-left relative"
        >
          <img class="object-contain w-full" :src="udruga.slikaUdruge" alt="slika udruge" />
          <span class="font-bold block py-5 text-white text-base">{{udruga.naslovUdruge}}</span>
          <p class="text-white text-sm">
            {{udruga.text}}
            
  
          </p>
          <!-- https://savez-dnd.hr/ -->
          <div class="VoteDolje">
            <a target="_blank" class="text-sm plavitx" :href="udruga.link">→ Saznaj više</a>
            <!-- <button
              @click="show(index, $event)"
              class="w-full plavi_gumb py-4 px-4 my-4 rounded btn"
            >Glasaj</button> -->
           <!--    <p>{{this.udruge[0].brojGlasova}}</p>  -->
              <div class="md:w-1/3 mx-auto pb-5 text-center">
                  <img src="@/assets/like.svg" class="likeModal" alt="like" />
                    <p class="likeCountModal ml-0 text-black">
                      {{udruga.brojGlasova}}
                    </p>
              </div>

              


          </div>
          <!-- <p>{{this.numVotes[0].votes}}</p>  -->


        </div>
        <!-- html comment -->
        
      </div>


       <div class="w-3/4 pt-10 mx-auto text-center">
          <!-- <h2 class="naslov">Glasaj za dobrobit djece</h2> -->
         <!--  <p class="pt-5 text-white">
            Djeca su oslobodila maštu i jedinstvene
            <span class="font-bold">SAGOSKATT</span> igračke ugledale su svjetlo dana. Sad je došlo vrijeme za igru, ali i za korak dalje – za dobrotvorne svrhe.
          </p>
          <p class="pt-5 text-white">
            <span class="font-bold">100 % prihoda</span>
            od prodaje SAGOSKATT igračaka donirat ćemo jednoj od navedenih udruga koje svojim predanim radom doprinose sreći i kvaliteti života djece u Hrvatskoj.
          </p> -->

                <p class="pt-5 text-white">
            Uz ostale <a target="_blank" href="https://www.ikea.com/ms/hr_HR/ikea-family/benefits/"><strong class="underline">pogodnosti,</strong></a> kao  <strong>IKEA Family</strong> član imaš priliku glasati za projekte i inicijative kojima vjeruješ. Odaberi koja će od sljedeće tri udruge dobiti sredstva, a time i priliku da u još većoj mjeri razvija svoje aktivnosti s plemenitim ciljem.
          </p>
          <p class="pt-5 text-white">Još nisi <strong>IKEA Family</strong> član? Učlaniti se možeš <a target="_blank" href="https://secure.ikea.com/webapp/wcs/stores/servlet/CreateUser?formName=createFamilyUser&storeId=52&langId=-75&catalogId=11001" class="underline"><strong>ovdje.</strong></a>  </p>
        </div>
    
     <!-- <div class="flex flex-wrap mb-4 pb-4 -mx-2">
        <div class="md:w-1/3 mx-auto">
            <img src="@/assets/like.svg" class="likeModal" alt="like" />
                  <p class="likeCountModal text-black">
                    {{this.numVotes[0].votes}}
                  </p>
        </div>
        <div class="md:w-1/3 mx-auto">
            <img src="@/assets/like.svg" class="likeModal" alt="like" />
                  <p class="likeCountModal text-black">
                    {{this.numVotes[1].votes}}
                  </p>
        </div>
        <div class="md:w-1/3 mx-auto">
            <img src="@/assets/like.svg" class="likeModal" alt="like" />
                  <p class="likeCountModal text-black">
                    {{this.numVotes[2].votes}}
                  </p>
        </div>
      </div> -->

       <!-- <p>{{this.numVotes[0].votes}}</p>  -->
      <!-- MODAL -->
      <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
          <div class="flex relative flex-col-reverse sm:flex-row modal-body">
            <div class="leftModal">
              <h2 class="naslovModal">{{this.selectedObject.naslovUdruge}}</h2>
              <!-- <p class="autorModal">{{this.selectedObject.autor}}sd</p> -->
              <!-- v-if="this.selectedObject.sakrij" -->
              <div v-if="this.selectedObject.sakrij" class="sakri">
                <div @click="prijeGlasaj($event)" class="likeGroup">
                  <img src="@/assets/like.svg" class="likeModal" alt="like" />
                  <p class="likeCountModal text-black">
                    <a href="#">{{this.selectedObject.brojGlasova}}</a>
                  </p>
                </div>
                <!--  v-if="this.selectedObject.otkrijGlasovanje" -->
                <div class="formModal pt-4">
                  <input
                    v-model="ifamNum"
                    :class="error"
                    class="inputModal"
                    type="text"
                    name="ikeaCard"
                    placeholder="Upiši broj svoje IKEA Family kartice"
                  />
                  <br />
                  <vue-recaptcha
                    class="g-recaptcha"
                    ref="recaptcha"
                    @verify="onVerify"
                    @expired="onExpired"
                    :sitekey="sitekey"
                  ></vue-recaptcha>
                  <button
                    class="submitModal btn pb-3 mt-3 text-black"
                    type="submit"
                    @click="glasaj($event)"
                    :disabled="reCaptchaPass"
                  >Glasaj za udrugu</button>
                </div>
              </div>
              <!--  Otkrij glas -->
              <div v-if="this.selectedObject.zavrsenoGlasovanje">
                <div class="likeGroup">
                  <img src="@/assets/likePlavi.svg" class="likeModal" alt="plavi-like" />
                  <p class="likeCountModal">{{this.selectedObject.brojGlasova}}</p>
                  <p class="text-sm pt-4">Vaš glas je uspješno zaprimljen!</p>
                </div>
              </div>
              <button @click="hide" class="gumbModal btn">Povratak na listu udruga</button>
            </div>
            <div class="rightModal">
              <a @click="hide" href="#">
                <img class="zatvori" src="@/assets/x_close.svg" />
              </a>
              <img
                :src="this.selectedObject.slikaUdruge"
                class="imgModal mala-slika"
                alt="slika udruge"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--   Velika slika -->
    <div id="velikaSlika" class="container px-8 mx-auto">
      <img class="object-contain w-full" src="@/assets/good_cause.jpg" alt="good cause" />
    </div>
    <!--   Tx ispod slike-->
    <div class="container mx-auto px-8 pt-10 pb-20 text-center text-white">
      <p class="pb-8">
        <span class="font-bold">SAGOSKATT igračke</span> imaju
        <span class="font-bold">plemeniti cilj</span> – pomoći djeci diljem Hrvatske. Prihod od prodaje igračaka donirat će se jednoj od udruga posvećenih dobrobiti djece u Hrvatskoj.
        <span
          class="font-bold"
        >IKEA Family</span> članovi ovdje mogu glasati za udrugu koja je u najvećoj mjeri osvojila njihova srca, a prikupljena sredstva donirat ćemo udruzi s najviše osvojenih glasova.
      </p>
    </div>
    <Footer1 />
  </div>
</template>
<script>
// @ is an alias to /src
import Header from "@/components/Header.vue";
import Footer1 from "@/components/Footer1.vue";
import VueRecaptcha from "vue-recaptcha";
import axios from "axios";
// import on your project (less then 1KB gziped)

// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
  name: "home",
  components: {
    Header,
    Footer1,
    VueRecaptcha
  },
  data() {
    return {
      error: false,
      ifamNum: "",
      reCaptchaPass: false,
      numVotes: [],
      sitekey: "6LcCmcMUAAAAAN9RyQdRxcNuSthCqNpP-gKVTMQD",
      sucess: true,
      recaptchaResponse: "",

      // otkrijGlasovanje: false,
      selectedObject: "",
      udruge: [
        {
          naslovUdruge: "Savez društava „Naša djeca“ Hrvatske",
          slikaUdruge: require("@/assets/logo-SDNDH.jpg"),
          catID: 244,

          brojGlasova: 0,
          autor: "Goran K. sddfsdsf",
          heartIcon: require("@/assets/srce.svg"),
          link: "https://savez-dnd.hr",
          klasa: "bg1",
          otkrijGlasovanje: false,
          zavrsenoGlasovanje: false,
          sakrij: true,
          text:
            "Savez DND je nevladina i neprofitna krovna udruga koja od 1950. godine okuplja, potiče i pomaže Društvima „Naša djeca“ u promociji i zagovaranju dječjih prava te provođenju raznovrsnih besplatnih aktivnosti s djecom i za djecu. Istaknuli su se programima za podizanje standarda zdravstvene skrbi djece, za edukaciju djece o vlastitim pravima, za doprinos dječjoj književnosti i brojnim drugim nacionalnim akcijama. Između ostalog, članovi Saveza vjeruju da je igra jedno od osnovnih prava svakog djeteta. S djecom i za djecu!"
        },
        {
          naslovUdruge: "Udruga roditelja „Korak po korak“",
          slikaUdruge: require("@/assets/kpk_logo_okomiti_crv.jpg"),
          catID: 245,
          link: "https://www.udrugaroditeljakpk.hr/",
          brojGlasova: 0,
          autor: "Goran K.",
          heartIcon: require("@/assets/srce.svg"),
          imageModal: require("@/assets/slika-modal2.jpg"),
          klasa: "bg2",
          otkrijGlasovanje: false,
          zavrsenoGlasovanje: false,
          sakrij: true,
          text:
            "Udruga se od osnivanja 1996. godine zalaže za zaštitu prava i interesa djece i obitelji te jačanje uloge roditelja u kreiranju odluka koje se tiču djece i obitelji. Među najistaknutijim projektima Udruge je CAP program prevencije zlostavljanja djece, projekt „Škola otvorena roditeljima“ s ciljem većeg uključivanja roditelja u obrazovni sustav te projekt „Mama je mama“ namijenjen pružanju pomoći maloljetnim trudnicama i roditeljima."
        },
        {
          naslovUdruge: "Udruga „Igranje“",
          slikaUdruge: require("@/assets/Udruga-Igranje-vector.jpg"),
          catID: 246,
          link: "https://igranje.hr/",
          brojGlasova: 0,
          autor: "Goran K.",
          heartIcon: require("@/assets/srce.svg"),

          klasa: "bg3",
          otkrijGlasovanje: false,
          zavrsenoGlasovanje: false,
          sakrij: true,
          text:
            "Udruga za promicanje društvenih igara „Igranje“ osnovana je 2013. godine. Aktivno radi na promicanju i popularizaciji modernih društvenih igara u svih dobnim skupinama. Cilj Udruge je podići kulturu igre u društvu okupljenom oko stola te razvijati strateške, logičke, komunikativne i druge vještine. Sudjeluje u različitim manifestacijama, humanitarnim akcijama prikupljanja i doniranju društvenih igara djeci različitih ugroženih skupina."
        }
      ]
    };
  },
  mounted() {
    console.log("test");

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("zatvori")[0];

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
      modal.style.display = "none";
      modal1.style.display = "none";
      modal2.style.display = "none";
    };

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    };
  },
  methods: {
    show(index, event) {
      // this.$modal.show('hello-world');
      // let element = e.$refs.modal.$el
      // Get the button that opens the modal
      // var btn = document.getElementById("myBtn");
      //Pokazi modal
      console.log(event);
      var modal = document.getElementById("myModal");
      modal.style.display = "block";

      this.selectedObject = this.udruge[index];
    },

    hide() {
      console.log("pvdje");

      //Ugasi Modal
      document.getElementById("myModal").style.display = "none";
    },

    //ovo je za paginaciju
    clickCallback: function(page) {
      console.log(page);
    },
    glasaj(event) {
      event.preventDefault();
      // console.log('sdfsdf')
      console.log(this.ifamNum);

      //povecaj glas

      //trebaš imati točan broj family kartice
      if (this.ifamNum.length == 19 && this.ifamNum.includes("627598047")) {
        console.log("imas 19 znakova i tocne brojeve");
        this.saveVote();
        //this.selectedObject.brojGlasova++;
      } else {
        this.error = true;
        console.log("nemas 19 znakova");
        console.log("IFAM error");
        alert("Pogrešan broj IKEA Family kartice");
        //         var errorRed = document.getElementsByClassName("inputModal");
        // errorRed.classList('error');
      }

      // if (this.sakrij && !this.error) {
      //                   this.sakrij = false
      //               } else {
      //                   this.sakrij = true
      //                   this.otkrij = true
      //               }

      // this.brojGlasova++
    },
    prijeGlasaj(event) {
      this.selectedObject.otkrijGlasovanje = true;
      // console.log(event)
      // console.log(otkrijGlasovanje)
    },
    onSubmit() {
      console.log("onsubmit");
      // ifamNum
      this.$refs;
    },
    onVerify(response) {
      //console.log(response);
      this.recaptchaResponse = response;

    },
    onExpired() {
      console.log("Expired");
    },
    saveVote() {
      var ifamNum = this.ifamNum.toString();
      var orgId = this.selectedObject.catID.toString();
      var reCapResp = this.recaptchaResponse;
      debugger
      axios({
        method: "post",
        url: "https://digital.bbdo.hr/mastaApi/hr/organizations/saveVote.php",
        headers: {
          "Content-Type": "application/json"
        },
        data: {
          ikea_id: ifamNum,
          item_id: orgId,
          captcha_resp: reCapResp
        }
      }).then(response => {
        console.log(response);
        if(response.data == 1){
            this.selectedObject.zavrsenoGlasovanje = true;
            this.selectedObject.sakrij = false;
            this.selectedObject.brojGlasova++;
        }
        
       
      });
       // else{
       //      alert('Došlo je do greške. Već ste glasali.');
       //  }
    },
    getVoteNum() {
      axios
        .get("https://digital.bbdo.hr/mastaApi/hr/organizations/vote.php")
        .then(response => {
          //this.posts = response.data;
          console.log(response.data);
          this.numVotes = response.data;
          this.udruge[0].brojGlasova = this.numVotes[0].votes;
          this.udruge[1].brojGlasova = this.numVotes[1].votes;
          this.udruge[2].brojGlasova = this.numVotes[2].votes;
          console.log(this.udruge)
        })
        .catch(e => {
          console.error(e);
        });
    }
  },
  mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });

    this.getVoteNum();
  },
  metaInfo: {
    title: "IKEA - Glasaj za dobrobit djece",
    meta: [
      // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
      // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
      {
        name: "description",
        content:
          "100 % prihoda od prodaje SAGOSKATT igračaka donirat ćemo jednoj od navedenih udruga..."
      },
      { name: "keywords", content: "ikea, udruge, glasanje, donacija" }
    ]
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>