<template>
    <div id="objavadobitnika">
        <Header />
        <div class="container px-8  mx-auto">
            <!-- Good cause-->

            <div class="flex mb-4 pb-8 pt-8">
                <div class="w-3/4 mx-auto text-center">
                    <h2 class="naslov pb-5">15 odabranih crteža</h2>
                    <!--  <p>Pridruži se proglašenju 15 najboljih crteža i veseloj proslavi koja će se održati 11.12.2019. u IKEA restoranu, 18-20h.</p> -->
                    <!-- <p>Natječaj je još uvijek u tijeku.</p> -->
                </div>

            </div>
             <div class="flex favoriti_container flex-wrap mb-4 pb-32 pt-8">
                <!-- :ref="'modal' + favorit.catID" -->
                <div v-for="(favorit, index) in favoriti" class="w-full sm:w-1/2 md:w-1/3 px-4 sm:px-4 mx-auto favorit">
                    <a>
                        <div :class="favorit.klasa">
                            <img :src="favorit.imageModal" class="object-contain w-full slikaFavorit pb-6 pt-6 sm:pb-0 sm:pt-0" alt="favoriti">
                        </div>
                        <div class="w-2/3 mx-auto">
                        <div class="flex">
                            <div class="w-full imeslike">{{favorit.imeSlike}}</div>
                           <!--  <div class="w-full glasovi"><img :src="favorit.heartIcon" class="inline pr-3" alt="heart.icon">{{favorit.brojGlasova}}</div> -->
                        </div>
                        <div class="flex">
                            <div class="w-full  autor">{{favorit.autor}}</div>
                        </div>
                         </div>
                    </a>
                </div>
            </div>
        </div>
        <Footer2 />
       
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
// import KakoSudjelovatiContent from '@/components/KakoSudjelovatiContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer2

    },
    data() {
        return {
            favoriti: [{
                    imeSlike: "Billy",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 1,
                    catIDname: 'smjestaj',
                    brojGlasova: 213411,
                    autor: 'Leona T.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0020_1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "Happy Oblak",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 2,
                    catIDname: 'hrana',
                    brojGlasova: 2111,
                    autor: 'Isabel z.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0033_1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "Kuglica",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 3,
                    catIDname: 'kultura',
                    brojGlasova: 2111,
                    autor: 'Sofia Z.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0051_1.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "Tuc Tuc kaktus",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 4,
                    catIDname: 'aktivni',
                    brojGlasova: 2111,
                    autor: 'Ena Š.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0066_1.jpg"),
                    klasa: "bg4"
                },
                {
                    imeSlike: "Grli Grli",
                    imageName: require("@/assets/slika-favorita4.png"),
                    catID: 5,
                    catIDname: 'priroda',
                    brojGlasova: 2111,
                    autor: 'Jana K.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0144_1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "Zobbi",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 6,
                    catIDname: 'zdravlje',
                    brojGlasova: 2111,
                    autor: 'Dora J.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0146_1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "Flekica",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 7,
                    brojGlasova: 2111,
                    autor: 'Karla R.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0156_1.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "Slonić Balonić",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 8,
                    brojGlasova: 2111,
                    autor: 'Luna L.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0172_1.jpg"),
                    klasa: "bg4"
                },
                {
                    imeSlike: "Dugozmaj",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 9,
                    brojGlasova: 2111,
                    autor: 'Fran D.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0220_1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "Kravica",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 10,
                    catIDname: 'smjestaj',
                    brojGlasova: 213411,
                    autor: 'Sofija Š.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0242_1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "Galaxy Nerd",
                    imageName: require("@/assets/slika-favorita1.png"),
                    catID: 11,
                    catIDname: 'hrana',
                    brojGlasova: 2111,
                    autor: 'Luce C.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0257_1.jpg"),
                    klasa: "bg3"
                },
                {
                    imeSlike: "Miško",
                    imageName: require("@/assets/slika-favorita2.png"),
                    catID: 12,
                    catIDname: 'kultura',
                    brojGlasova: 2111,
                    autor: 'Tonka P.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0264_1.jpg"),
                    klasa: "bg4"

                },
                {
                    imeSlike: "Peli",
                    imageName: require("@/assets/slika-favorita3.png"),
                    catID: 13,
                    catIDname: 'aktivni',
                    brojGlasova: 2111,
                    autor: 'Fran J.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0300_1.jpg"),
                    klasa: "bg1"
                },
                {
                    imeSlike: "Ljigavko",
                    imageName: require("@/assets/slika-favorita4.png"),
                    catID: 14,
                    catIDname: 'priroda',
                    brojGlasova: 2111,
                    autor: 'Paula P.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0315_1.jpg"),
                    klasa: "bg2"
                },
                {
                    imeSlike: "Jakov",
                    imageName: require("@/assets/slika-favorita.png"),
                    catID: 15,
                    catIDname: 'zdravlje',
                    brojGlasova: 2111,
                    autor: 'Karolina K.',
                    heartIcon: require("@/assets/srce.svg"),
                    imageModal: require("@/assets/HR0319_1.jpg"),
                    klasa: "bg3"
                }



            ]
        };
    },
  mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
    metaInfo: {
        title: 'Mašta može svašta - Dobitnici 2019.',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Pogledajte 15 odabranih crteža.' },
             { name: "keywords", content: "ikea, mašta, dobitnici, crtež, 2019" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>