<template>
    <div id="pravila">
        <Header />
        <h2 class="naslov pt-8">Pravila natječaja</h2>
        <img class="max-w-full pattern_slika" src="@/assets/pattern.svg" alt="uzorak">
        <div class="container px-8  mx-auto">
            <!-- Lets play-->
            <div class="flex mb-4 pb-8 pt-16">
                <div class="w-full mx-auto text-center">
                    <div class="mx-auto text-left">
                        <p class="podnaslov font-bold">UVJETI</p>
                        <p class="podnaslov font-bold">IKEA NATJECANJE U CRTANJU PLIŠANIH IGRAČAKA 2019 </p>

                        <p>Uvjeti za sudjelovanje: </br>1.  IKEA Hrvatska d.o.o., Ulica Alfreda Nobela 2, Sop, 10361 Sesvete-Kraljevec, OIB: 21523879111, u suradnji s tvrtkom IKEA of Sweden AB, p.p. 317, 83 020 Hackås, Švedska, PDV ID: SE5560747551, dalje navedena kao IKEA.</p>
                        <p>2.   Natjecanje će se održati u robnoj kući IKEA u razdoblju od 9. do 24. studenog 2019., od 10 do 21 h od ponedjeljka do subote, od 10 do 18 nedjeljom u igraonici Småland, a preko vikenda i na dječjem odjelu te u IKEA dostavnim centrima u Splitu, Osijeku, Rijeci i Dubrovniku tijekom radnih vremena centara. U natjecanju mogu sudjelovati djeca čiji su roditelji ili skrbnici IKEA FAMILY članovi. Djeca smiju imati najviše 12 godina. IKEA zaposlenici te članovi njihove uže obitelji ne smiju sudjelovati u natjecanju.</p>
                        <p>3. KEA zadržava pravo da u bilo koje vrijeme zatraži bilo kojeg IKEA FAMILY člana koji sudjeluje u natjecanju dokaz o identitetu i/ili kvalificiranosti za sudjelovanje u natjecanju. Ako se od sudionika zatraži takav dokaz, a sudionik ga ne pruži, IKEA može, po vlastitom nahođenju, diskvalificirati sudionika iz natjecanja. IKEA će osobne podatke prikupljati i koristiti u skladu sa Zakonom o zaštiti osobnih podataka.</p>
                        <p>4.   Za sudjelovanje u natjecanju nije potrebna nikakva kupovina ili plaćanje bilo koje druge naknade.</p>
                        <p>5.   Svi koji žele sudjelovati moraju za to imati pristanak roditelja ili skrbnika. Pristankom se podrazumijeva slučaj kada roditelj ili skrbnik doprati dijete na natjecanje te dokaže svoje IKEA FAMILY članstvo IKEA zaposleniku odgovornom za natjecanje. Također, roditeljski se nadzor zahtijeva tijekom sudjelovanja u natjecanju.</p>
                        <p>6.   Svako dijete u natjecanju može sudjelovati samo s jednim radom. Roditelji, skrbnici ili bilo koja treća strana ne smiju pomagati djetetu tijekom natjecanja. Takvi će radovi odmah biti diskvalificirani. Nezavršeni ili zakašnjeli radovi također će biti diskvalificirani.</p>
                        <p>7.   Svaki se crtež mora crtati na A4 papiru. Svi sudionici i njihovi roditelji ili skrbnici moraju na predlošku kojeg će dobiti navesti svoje ime i prezime, dob, IKEA FAMILY članski broj broj roditelja ili skrbnika te kontaktne podatke.</p>
                        <p class="podnaslov font-bold">Kako sudjelovati</p>
                        <p>8.   Za sudjelovanje u natjecanju svaki će sudionik biti pozvan na natjecanje u robnoj kući IKEA. Tamo će se sudionike zatražiti da nacrtaju svoju plišanu igračku „iz snova“.</p>
                        <p>9.   Robna kuća IKEA sastavit će popis 50 odabranih crteža(„finalisti na razini robne kuće“) i proslijediti ga Service Officeu. Ovih će se 50 finalista odabrati glasovanjem IKEA FAMILY članova putem interneta.</p>
                        <p>10.  Na temelju popisa finalista na razini robne kuće, Service Office sastavit će popis odabranih 15 crteža („finalisti na razini zemlje“). Ovih će se 15 finalista odrediti na temelju glasovanja neovisnog žirija koji će biti sastavljen od IKEA zaposlenika.</p>
                        <p>11.  15 crteža koji predstavljaju finaliste svake zemlje (koja sudjeluje u natjecanju) poslat će se tvrtki IKEA of Sweden AB gdje će sudački žiri odabrati 6 međunarodnih pobjedničkih crteža („pobjednika na međunarodnoj razini“). Žiri čine stručnjaci odgovorni za razvoj dječjih proizvoda (razvojni inženjeri, dizajneri proizvoda, planeri nabave, predstavnici komercijalnih timova) u tvrtki IKEA of Sweden AB.</p>
                        <p>12.  Kriteriji za ocjenjivanje i odabir temelje se na inovativnosti, jedinstvenosti, komercijalnom potencijalu i mogućnosti proizvodnje plišane igračke na temelju dizajna.</p>
                        <p class="podnaslov font-bold">Nagrade</p>
                        <p>13.  Svim sudionicima na razini robne kuće bit će uručena diploma i maleni dar.</p>
                        <p>14.  Svi će međunarodni pobjednici dobiti po jednu plišanu igračku koju će IKEA kreirati na temelju njihovih crteža. Odabrat će se sveukupno 6 međunarodnih pobjednika. Svi pobjednici na razini zemlje ili robne kuće neće postati međunarodnim pobjednicima i neće primiti plišanu igračku izrađenu na temelju njihovih crteža.</p>
                        <p>15.  Sve su nagrade neprenosive i bespovratne te se o njima ne može pregovarati. Kao zamjena za cijelu nagradu ili dio nagrade ne može se davati gotovina ili zajam. IKEA zadržava pravo nagradu zamijeniti drugom nagradom ili istom novčanom vrijednosti u slučaju djelovanja više sile. Bilo koji porezni dug koji može nastati kao posljedica primljene nagrade ili u vezi s njom platit će pobjednik.</p>
                        <p>16.  IKEA zadržava potpuno pravo odabrati drugog pobjednika u slučaju da ima opravdane razloge vjerovati da se sudionik ponašao/la na način koji odstupa od ovih uvjeta te im se protivi ili na način koji IKEA smatra neprikladnim, nezakonskim ili uvredljivim.</p>
                        <p>17.  Finalisti na svim razinama i pobjednici na međunarodnoj razini bit će o tome obaviješteni putem e-pošte i telefona.</p>
                        <p>18.  IKEA će odlučiti o pobjednicima natjecanja. Ta je odluka konačna. Nikakva se korespondencija o bilo čemu u vezi s pobjednicima natjecanja neće održavati s IKEA FAMILY članovima.</p>
                        <p class="podnaslov font-bold">Odgovornosti i dopuštenja</p>
                        <p>19.  Organizator ovog natjecanja je IKEA Hrvatska d.o.o. čiji se registrirani ured nalazi na adresi Ulica Alfreda Nobela 2, Sop, 10361 Sesvete-Kraljevec, OIB: 21523879111. Bilo koja pitanja u vezi s natjecanjem trebaju se uputiti IKEA službi za kupce. Kontaktni podaci: IKEA Hrvatska d.o.o., adresa e-pošte: sluzba.za.kupce@ikea.com tel.: 01/4455444</p>
                        <p>20.  IKEA ne preuzima odgovornost ni za kakve pogreške u mreži, računalu ili softveru koje mogu ograničiti ili odgoditi slanje ili primanje e-pošte sudionika. Dokaz o slanju nije dokaz o primanju e-pošte.</p>
                        <p>21.  IKEA neće biti odgovorna ni za kakav gubitak koji može uzrokovati odgoda, otkazivanje, kašnjenje ili promjene nagrade izvan kontrole tvrtke IKEA ili za djelo ili propust bilo kojeg dobavljača treće strane. IKEA ne isključuje i ni na koji način ne ograničava odgovornost za smrt ili osobne ozljede do kojih može doći zbog našeg nemara, prijevare ili uslijed nepredvidivih okolnosti.</p>
                    
                        <p class="podnaslov font-bold">Tvoji osobni podaci i prava na intelektualno vlasništvo</P>
                        <p>22.  Za sudjelovanje u natjecanju, sudionici i njihovi roditelji/skrbnici ako je primjenjivo, moraju dati određene osobne podatke uključujući ime i dob sudionika, adresu e-pošte i broj telefona za kontakt te IKEA FAMILY članski broj roditelja ili skrbnika. Ako sudionik ima 12 godina ili manje, roditelj/skrbnik mora dati svoj pristanak na sudjelovanje djeteta u natjecanju. Davanjem dopuštenja za sudjelovanje djeteta u natjecanju, svaki IKEA FAMILY član pristaje na to da IKEA obradi osobne podatke njihova djeteta u skladu s načinom opisanim u ovim uvjetima. IKEA će biti voditelj obrade podataka te će osobne podatke sudionika koristiti u svrhe vođenja natjecanja te kontaktiranja pobjednika ili finalista. Ime, dob i prijava (crtež) također će se koristiti u svrhe oglašavanja tvrtke IKEA i njezinih proizvoda, kao i natjecanje. Sa svakim od šest međunarodnih pobjednika obavit će se intervju koji će se koristiti u marketinške svrhe i u komunikaciji o natjecanju. </p>
                        <p>23.  Ako je crtež odabran kao finalist zemlje, IKEA će dijeliti crtež i osobne podatke prikupljene s tvrtkom IKEA of Sweden koja će obrađivati osobne podatke u svrhu provođenja procesa odabira pet međunarodnih pobjednika. Adresa međunarodnih pobjednika također će se dijeliti s trećom stranom u svrhu isporuke nagrade pobjedniku.</p>
                        <p>24.  Osobni se podaci obrađuju tijekom natjecanja dok se ne odaberu međunarodni pobjednici i do datuma početka prodaje pobjedničkih igračaka. Osobni će se podaci  čuvati koliko je potrebno kako bi pozvali sudionike na natjecanje sljedeće godine. IKEA of Sweden zadržava ime, dob, crtež, intervju i zemlju šest međunarodnih pobjednika sve dok je to potrebno u svrhu IKEA i SAGOSKATT marketinških i komunikacijskih namjena te će se dijeliti s drugim tvrtkama unutar IKEA grupe, Inter IKEA grupe i IKEA franšize koje će obraditi podatke u iste svrhe.</p>
                        <p>25.  IKEA obrađuje osobne podatke na temelju legitimnog interesa za provođenje natjecanja te kako bi mogla kontaktirati pobjednike. Sudjelovanjem u ovom natjecanju i pružanjem ovih informacija, svaki sudionik i roditelj/skrbnik pristaje i slaže se s time da se njihovi osobni podaci i crteži obrađuju u opisane svrhe. Sudionici (i njihovi roditelji/skrbnici ako je primjenjivo) imaju pravo pristupiti pruženim osobnim podacima kontaktiranjem osobe za kontakt određene pod točkom 19. i ispraviti osobne podatke u slučaju da su netočni.</p>
                        <p>26.  Detalji nagrada, ime pobjednika i lokalna robna kuća IKEA bit će dostupni nakon završetka natjecanja pisanim upitom na adresu niže u kojem je potrebno navesti naziv i datum natjecanja.</p>
                        <p>27.  IKEA i bilo koja IKEA franšiza žele objaviti ime, dob i rad (crtež) sudionika na svojoj internetskoj stranici te putem drugih medija za reklamne i javne svrhe. Sudjelovanjem u natjecanju sudionici i njihovi roditelji/skrbnici pristaju na korištenje ovih podataka na ove načine bez dodatnog pristanka, obavijesti i kompenzacije.</p>
                        <p>28.  IKEA želi dizajnirati nove proizvode na temelju radova (crteža) 6 međunarodnih pobjednika te proizvesti ograničenu ponudu proizvoda na temelju tih dizajna s ciljem prodaje u svim robnim kućama IKEA i IKEA online prodaje (komercijalna upotreba). Za svaku prodanu igračku iz te ograničene ponude IKEA će donirati sredstva u dobrotvorne svrhe koje odredi franšizer IKEA organizacije a koje svrhe podupiru potrebitu djecu, razvoj djece ili bilo koje druge potrebe djece. Sudjelovanjem u ovom natjecanju sudionici i njihovi roditelji/skrbnici pristaju na korištenje ovih podataka na ovaj način bez dodatnog pristanka, obavijesti i kompenzacije.</p>
                        <p>29.  Svi radovi iz natjecanja moraju biti originalni rad sudionika. Sve intelektualno vlasništvo koje podrazumijeva autorsko pravo i pravo na dizajn crteža sudionika, uključujući radove pobjednika te igračke izrađenih prema dizajnima radova iz natjecanja, pripadat će tvrtki IKEA od trenutka kad se radovi predaju tvrtki IKEA.</p>
                        <p>30.  6 sudionika čiji će se crteži koristiti u komercijalne svrhe neće imati autorsko pravo na dizajne i neće primiti nikakvu naknadu, nagradu ili bilo koju drugu povlasticu kao rezultat korištenja njihovog dizajna, osim nagrada opisanih u ovim uvjetima. IKEA neće razvijati proizvode na temelju crteža sudionika koji ne pobjede na natjecanju. Pod uvjetom da bilo koji od 6 dizajna nije moguće proizvesti ili komercijalizirati, IKEA zadržava pravo da ukloni ovaj proizvod iz ponude proizvoda za komercijalizaciju te da ga zamijeni proizvodom koji se temelji na crtežu nekog drugog sudionika.</p>
                        <p>31.  Ovo natjecanje i bilo koji spor ili tužba koji proiziđu iz njega ili u vezi s njime pokrenut će se i odvijati u skladu sa zakonima Republike Hrvatske pred nadležnim sudom u Zagrebu.</p>
                         <p>32. Smatra se da samim sudjelovanjem u natjecanju sudionici prihvaćaju ove uvjete.</p>
                    </div>
                </div>
            </div>
            <!-- Gumbi -->
            <!--   <div class="flex">
            <div class="w-1/2 mx-auto text-center">
                <button class="zuti_gumb py-4 px-4 rounded ">
                    Glasaj za svog favorita
                </button><br>
                <button class="plavi_gumb py-4 px-4 rounded ">Kako sudjelovati?</button>
            </div>
        </div> -->
        </div>
        <img class="max-w-full pattern_slika2" src="@/assets/pattern.svg" alt="uzorak">
        <Footer3 />
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer3 from '@/components/Footer3.vue'
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'nagrade',
    components: {
        Header,
        Footer3
    },
  mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
   metaInfo: {
        title: 'Mašta može svašta - Pravila natječaja 2019.',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Pravila iKEA natjecanja u crtanju plišanih igračaka - Mašta može svašta.' },
             { name: "keywords", content: "ikea, mašta, pravila, crtanje, igračke, 2019" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>