<template>
    <div id="sagoskat">
        <div id="nagrade">
            <Header />
            <div class="container px-8  mx-auto">
                <!-- Lets play-->
                <div class="flex mb-4 pb-8 pt-8">
                    <div class="w-3/4 sm:w-2/3 mx-auto text-center">
                        <h2 class="naslov pb-5">Upoznaj SAGOSKATT igračke!</h2>
                        <p>Svake godine nova SAGOSKATT kolekcija stiže u robne kuće IKEA. Ovogodišnje šareno društvance sastoji se od 6 članova koje su dizajnirala djeca diljem svijeta, kako bi razveselila drugu djecu.</p><br>
                        <!--  <p>Sve SAGOSKATT igračke stvorene su ne samo za igru i inspiraciju, već i za doprinos plemenitim ciljevima – jer 100 % prihoda od njihove prodaje odlazi u dobrotvorne svrhe za djecu kojoj je pomoć potrebna.</p> -->
                    </div>
                </div>
                <!-- https://stackoverflow.com/questions/42645964/vue-js-anchor-to-div-within-the-same-component -->
                <a target="_blank" href="https://www.ikea.com/hr/hr/search/?query=sagoskatt" ><button class="plavi_gumb rounded btn">
                      SAGOSKATT kolekcija
                    <!--  <router-link to="/good-cause">Saznaj više</router-link> -->
                </button></a>
              
<!-- <div id="div-id"></div> -->
            </div>
        </div>
        <div id="nagrade2">
            <div class="container mx-auto">
                <div class="flex mb-4 pb-8 pt-8">
                    <div class="w-full sm:w-4/5 mx-auto text-center">
                        <!--  <p>Imamo i <span class="font-bold">sretno čudovište</span> koje će svojim velikim osmijehom i toplim zagrljajem otjerati sva čudovišta koja se kriju u ormaru i pod krevetom.</p>
                            <p><span class="font-bold">Nježna žirafa</span> šarenog repa osvojit će sva dječja (i odrasla) srca, a možda ih i dodatno potaknuti da se zdravo hrane, kao i ona.</p>
                            <p><span class="font-bold">Veseli miš</span> s balonima uvijek je spreman za slavlje i jedva čeka pronaći društvo koje će dijeliti njegovu strast prema igri i zabavi.</p>
                            <p><span class="font-bold">Šarena duga</span> u toplim čarapama podsjeća nas da mašta nikad nema granica. Njezine vesele boje šire radost u svakoj prostoriji u kojoj se nađu.</p><br> -->
                        <!--  //1 -->
                        <div id="heroj-krastavac"  data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/krastavac1.png" alt="heroj-krastavac">
                            </div>
                            <div class="w-full pt-0 sm:pt-20 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                    <p>

                                       <!--  Tu nam je jedan nestašni <span class="font-bold"><a href="#">super heroj krastavac</a></span> koji, osim što voli plaziti jezik, potiče djecu da još više zavole krastavce.  -->
                                        
                                    <span class="font-bold"><a target="_blank" href="https://www.ikea.com/hr/hr/catalog/products/90462416/">GURKI</a></span> je krastavac i superheroj! Osim što voli plaziti jezik, ovaj nestaško potiče djecu da još više zavole krastavce. 
                                    </p>
                                </section>
                            </div>
                        </div>
                        <!--  //2 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                    <!-- Imamo i <span class="font-bold"><a  href="#">sretno čudovište</a></span> koje će svojim velikim osmijehom i toplim zagrljajem otjerati sva čudovišta koja se kriju u ormaru i pod krevetom. -->

                                    Ovo <span class="font-bold"><a target="_blank" href="https://www.ikea.com/hr/hr/catalog/products/60462408/">malo čudovište</a></span> pravi je veseljak! Svojim velikim osmijehom i toplim zagrljajem spremno je otjerati sva čudovišta koja se kriju u ormaru i pod krevetom.
                                </section>
                            </div>
                            <div class="w-full order-1 sm:order-2 sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/cudoviste1.png" alt="cudoviste">
                            </div>
                        </div>
                        <!--  //3 -->
                        <div data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/zirafa1.png" alt="zirafa">
                            </div>
                            <div class="w-full  pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                    <p>
                                       <!--  <span class="font-bold"><a href="#">Nježna žirafa</a></span> šarenog repa osvojit će sva dječja (i odrasla) srca, a možda ih i dodatno potaknuti da se zdravo hrane, kao i ona.  -->

                                    <span class="font-bold"><a target="_blank" href="https://www.ikea.com/hr/hr/catalog/products/80462407/">Nestašna žirafa</a></span> šarenog repa osvojit će sva dječja (i odrasla) srca, a možda ih i dodatno potaknuti da se zdravo hrane, kao i ona.
                                    </p>
                                </section>
                            </div>
                        </div>
                        <!--  //4 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                    <p>

                                      <!--   <span class="font-bold"><a href="#">Crveni robotić </a> </span>svojim će velikim znatiželjnim očima svaki dan podsjećati svoje prijatelje da uvijek budu željni novih znanja i ideja. </p> -->


                                    Robotić <span class="font-bold"><a target="_blank" href="https://www.ikea.com/hr/hr/catalog/products/00462406/">RULLY</a></span> obožava pjesmu i ples! Osim toga, svojim velikim znatiželjnim očima podsjeća svoje prijatelje da uvijek budu željni novih znanja i ideja.
                                </p>
                                </section>
                            </div>
                            <div class="w-full order-1 sm:order-2 sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/robot1.png" alt="robot">
                            </div>
                        </div>
                        <!--  //5 -->
                        <div data-aos="fade-right" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="max-w-full inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/mis1.png" alt="mis">
                            </div>
                            <div class="w-full pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                    <p>
                                    <!--     <span class="font-bold"><a href="#">Veseli miš</a></span> s balonima uvijek je spreman za slavlje i jedva čeka pronaći društvo koje će dijeliti njegovu strast prema igri i zabavi. </p> -->


                                    Ovaj veseli miš s balonima zove se <span class="font-bold"><a target="_blank" href="https://www.ikea.com/hr/hr/catalog/products/10462415/">JESSE</a></span>. Uvijek je spreman za slavlje i jedva čeka pronaći društvo koje će dijeliti njegovu strast prema igri i zabavi.
                                </p>
                                </section>
                            </div>
                        </div>
                        <!--  //6 -->
                        <div data-aos="fade-right" class="flex py-8 sm:py-4 flex-col sm:flex-row">
                            <div class="w-full order-2 sm:order-1 pt-0 sm:pt-24 mx-auto block sm:flex text-left">
                                <section class="w-4/5 mx-auto">
                                    <p>
    
                                       <!--  <span class="font-bold"><a href="#">Šarena duga</a></span> u toplim čarapama podsjeća nas da mašta nikad nema granica. Njezine vesele boje šire radost u svakoj prostoriji u kojoj se nađu.  -->


                                        <span class="font-bold"><a target="_blank" href="https://www.ikea.com/hr/hr/catalog/products/40462414/">Šarena duga</a></span> u čarapama podsjeća nas da mašta nikad nema granica. Njezine vesele boje šire radost u svakoj prostoriji u kojoj se nađu.
                                    </p>
                                </section>
                            </div>
                            <div class="order-1 sm:order-2 w-full sm:w-3/5 sm:px-3 mx-auto text-center">
                                <img class="inline pb-10 sm:pb-0 sm:block mala-slika" src="@/assets/duga1.png" alt="duga">
                            </div>
                        </div>
                    </div>
                </div>
                <div data-aos="fade-center" class="block sm:flex py-8 sm:py-4 flex-col sm:flex-row">
                    <div class="w-full pt-0 mx-auto block sm:flex text-center">
                        <section class="w-3/5 mx-auto">
                            <p>Sve <a target="_blank" href="https://www.ikea.com/hr/hr/search/?query=sagoskatt"><span class="font-bold">SAGOSKATT </span></a>igračke stvorene su ne samo za igru i inspiraciju, već i za doprinos plemenitim ciljevima – jer 100 % prihoda od njihove prodaje odlazi u dobrotvorne svrhe za djecu kojoj je pomoć potrebna.</p>
                        </section>
                    </div>
                </div>
            </div>
            <Footer2 />
        </div>
        <!-- Gumbi -->
        <!--    <div class="flex">
                <div class="w-full mx-auto text-center">
                    <button class="zuti_gumb py-4 px-4 rounded ">
                    <router-link to="/glasuj-za-svog-favorita">Glasaj za svog favorita</router-link>
                    
                </button><br>
                    <button class="plavi_gumb rounded btn">
                        <router-link to="/good-cause">Saznaj više</router-link>
                    </button>
                </div>
            </div> -->
    </div>
</template>
<script>
// @ is an alias to /src
import Header from '@/components/Header.vue'
import Footer2 from '@/components/Footer2.vue'
import Vue from 'vue'
// import vueSmoothScroll from 'vue2-smooth-scroll'
// Vue.use(vueSmoothScroll)
// import HomeContent from '@/components/HomeContent.vue'

export default {
    name: 'home',
    components: {
        Header,
        Footer2,

    },
    methods: {
        // scrollMeTo(refName) {
        //     var element = this.$refs[refName];
        //     var top = element.offsetTop;

        //     window.scrollTo(0, top);
        // }
    },
  mounted: function() {
    this.$ga.page({
      path: this.$router.path,
      name: this.$router.name,
      location: window.location.href
    });
  },
    metaInfo: {
        title: 'O SAGOSKATT kolekciji',
        meta: [
            // {http-equiv: 'Content-Type', content: 'text/html; charset=utf-8'},
            // {name: 'viewport', content: 'width=device-width, initial-scale=1'},
            { name: 'description', content: 'Ovogodišnje šareno društvance sastoji se od 6 članova koje su dizajnirala djeca diljem svijeta, kako bi razveselila drugu djecu.' },
             { name: "keywords", content: "ikea, mašta, igračke, sagoskatt" }
        ]

    }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>