<template>
  <div id="cookiePolicy">
    <div v-if="!this.$store.state.hideCookie" class="cookieBox">
      <!-- <div class="cookieAlert1"><img style="width: 100%" src="img/cookies.png"></div> -->
      <div v-if="!moreInfo" class="cookieAlert2">
        <h4>Tvoje postavke kolačića</h4>
        <p>
          IKEA te traži suglasnost za korištenje kolačića u svrhu poboljšanja naše usluge, oglašavanja i korištenja društvenih mreža. Kolačići korišteni za oglašavanje i društvene mreže treće strane nude ti različiti izbor funkcija s društvenih mreža i oglasa sukladno tvojim osobnim interesima. Za više informacija ili unaprjeđenje tvojih postavki, odaberi gumb „Više“ ili "Postavke kolačića" koji se nalazi na dnu naše internetske stranice.
          <br />Za više informacija o kolačićima i korištenju tvojih osobnih podataka, pročitaj naša Pravila o zaštiti podataka i Pravila o kolačićima. Prihvaćaš li ove kolačiće i pristaješ li na korištenje tvojih osobnih podataka?<br>
        </p>
        <a
          target="_blank"
          href="https://www.ikea.com/ms/hr_HR/privacy_policy/privacy_policy.html"
        >Zaštita privatnosti</a>
        <span class="separator">|</span>
        <a
          target="_blank"
          href="https://www.ikea.com/ms/hr_HR/privacy_policy/cookie_policy.html"
        >Pravila o kolačićima</a>
      </div>
      <!-- //VIŠE -->
      <div v-if="moreInfo" class="cookieMainLeft">
        <h3 class="cookieHeadline">Tvoje postavke kolačića</h3>
        <div class="cookieSection">
          <input id="check-disabled" type="checkbox" checked class="inputCookiea" disabled />
          <p style>
            <strong style="color: #FF671D">Funkcijski kolačići</strong>
            <br />Ovi su kolačići potrebni radi osnovnih funkcionalnosti internetske stranice i samim time su uvijek omogućeni. To uključuje kolačiće koji omogućavaju spremanje određenih postavki sukladno tvojim interesima, dok ti pretražuješ Internet.
            <br />
          </p>
        </div>
        <div class="cookieSection">
          <input
            @change="checkPerformanceCookies(), checkPerformance = !checkPerformance"
            id="preformanceCookie"
            type="checkbox"
            class="inputCookiea"
          />
          <p style>
            <strong>Kolačići učinkovitosti</strong>
            <br />Ovi nam kolačići omogućavaju unaprjeđenje radnih svojstava internetske stranice praćenjem njezine korištenosti. Također nam pomaže u unaprjeđenju iskustva pretraživanja internetske stranice koju planiramo izraditi u budućnosti.
            <br />
          </p>
        </div>
        <div class="cookieSection">
          <input
            @change="addSocial(), socialCookie = !socialCookie"
            id="socialCookie"
            type="checkbox"
            class="inputCookie"
          />
          <p style>
            <strong>Kolačići korišteni za društvene mreže i oglašavanje</strong>
            <br />Kolačići korišteni za društvene mreže nude ti mogućnost povezivanja s društvenim mrežama, kao i dijeljenje sadržaja s tvoje internetske stranice putem njih. Kolačići korišteni za oglašavanje (od treće strane) prikupljaju informacije kako bi prikazali oglase sukladno tvojim interesima, kako s IKEA internetske stranice, tako i s drugih internetskih stranica. U nekim slučajevima ovi kolačići uključuju obradu tvojih osobnih podataka.
            <br />Za više informacija o obradi tvojih osobnih podataka, pogledaj naša Pravila o zaštiti osobnih podataka i Pravila o kolačićima. Ne prihvaćanje korištenja kolačića može rezultirati prikazom oglasa koji nisu u skladu s tvojim interesima, kao i nemogućnosti učinkovitog povezivanja s Facebookom, Twitterom ili drugim društvenim mrežama i/ili nemogućnosti dijeljenja sadržaja na društvenim mrežama.
          </p>
        </div>
        <div class="cookieSectionBot">
          <p>Svoje odabrane postavke uvijek možeš promijeniti odlaskom na „Postavke kolačića" koje se nalaze na dnu naše internetske stranice. Za više detalja pogledaj naša Pravila o zaštiti osobnih podataka i pravila o kolačićima.</p>
        </div>
      </div>
      <div class="cookieAlert3">
        <div v-if="!moreInfo">
          <!-- onclick="SetAllStatus()" -->
          <button @click="SetAllStatus">PRIHVAĆAM</button>
          <!--  onclick="cookieSettings()" -->
          <button @click="moreInfoClick" class="moreInfo">VIŠE</button>
        </div>
        <!-- onclick="checkBoxStatus()"  -->
        <div v-if="moreInfo">
          <button class="doneButton" @click="checkBoxStatus">SPREMI</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>



// Vue.use(VueAnalytics, {
//   id: 'UA-103274080-10',
//   checkDuplicatedScript: true,
//   disableScriptLoader: true

// })




export default {
  name: "Cookie",
  props: {
    msg: String
  },
  data() {
    return {
      moreInfo: false,
      socialCookie: false,
      checkPerformance: false
    };
  },
  // https://matteogabriele.gitbooks.io/vue-analytics/content/docs/installation.html
  mounted() {
    // console.log('yooo')

    // From some method in one of your Vue components
    // this.$cookie.set('test', 'Hello world!', 4);

    console.log(this.checkPerformance);
    // this.checkBoxStatus()

    // console.log(this.$cookie.get('cookiePolicyA'))

    // console.log(this.$cookie.get('cookiePolicyA'))

    this.checkCookie();
  },
  methods: {
    test() {
      console.log("test");
    },
    changeCookieState() {},
    moreInfoClick() {
      console.log("moreInfoClick");
      this.moreInfo = true;
    },
    checkPerformanceCookies() {
      console.log("checkPerformanceCookies");
      console.log(this.checkPerformance);

      if (this.checkPerformance === true) {
        //Makni analitiku ako maknemo gumb
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);

        this.$cookie.set("preformanceCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.checkPerformance === false) {
        this.$cookie.delete("preformanceCookie", "NO", 365);
        this.$cookie.delete("cookiePolicyA", "Accepted", 365);
      }
    },
    addSocial() {
      console.log("addSocial");

      // this.socialCookie = true
      console.log(this.socialCookie);
      if (this.socialCookie === true) {
        this.$cookie.set("socialCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.socialCookie === false) {
        this.$cookie.delete("socialCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      // console.log(preformanceCookie)
    },
    // addGA() {
        
    // this.$ga.page({
    //   path: this.$router.path,
    //   name: this.$router.name,
    //   location: window.location.href
    // });
    // },

    removeGA() {
      console.log("removeGA");

      this.$cookie.delete("_gid", "Deleted", -365);
      this.$cookie.delete("_ga", "Deleted", -365);
      // this.$cookie.delete('_ga', 'Deleted', -365);
      console.log("script remove GA");
    },
    removeSocial() {
      console.log("remove social");
    },
    checkCookie() {
      console.log("Check Cookie");

      var cookie = this.$cookie.get("cookiePolicyA");

      // var cookie = getCookie("cookiePolicyA");
      var preformance = this.$cookie.get("preformance");
      var social = this.$cookie.get("social");

      if (preformance == "YES") {
        // this.addGA();
        // this.$ga.enable();
        // alert('Tracking enabled');
        console.log("preformanceYES");
      }

      if (social == "YES") {
        this.addSocial();
      }

      if (cookie != "" && preformance == "NO") {
        //Makni analitiku ako maknemo gumb
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);
        // this.$ga.disable();
        // alert('Tracking disabled');
      }
      if (cookie != "" && social == "NO") {
        this.removeSocial();
      }

      if (cookie == "" || cookie == null) {
        this.$store.commit("changehideCookie", false);
      }
      if (cookie == "Accepted") {
        this.$store.commit("changehideCookie", true);
      }
    },
    SetAllStatus() {
      // console.log('SetAllStatus')
      // var mainCookie = "Accepted";

      // setCookie("preformance", cookie, 365);
      // setCookie("social", cookie, 365);
      // setCookie("cookiePolicyA", mainCookie, 365);
      this.$ga.disable();
      this.$cookie.set("socialCookie", "YES", 365);
      this.$cookie.set("preformanceCookie", "YES", 365);
      this.$cookie.set("cookiePolicyA", "Accepted", 365);

      this.checkCookie();
      this.$store.commit("changehideCookie", true);
    },
    checkBoxStatus() {
      console.log("checkBoxStatus");

      //         var social = $('#socialCookie').is(':checked');
      // var analitycs = $('#preformanceCookie').is(':checked');
      // var cookie = "YES";
      // var mainCookie = "Accepted";
      if (this.socialCookie) {
        console.log("socialCookieTrue");
        this.$cookie.set("socialCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (this.checkPerformance) {
        console.log("checkPerformanceTrue");
        this.$cookie.set("preformanceCookie", "YES", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (!this.socialCookie) {
        console.log("socialCookieFalse");
        this.$cookie.set("socialCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }
      if (!this.checkPerformance) {
        console.log("checkPerformanceFalse");
        this.$cookie.delete("_gid", "Deleted", -365);
        this.$cookie.delete("_ga", "Deleted", -365);

        this.$cookie.set("preformanceCookie", "NO", 365);
        this.$cookie.set("cookiePolicyA", "Accepted", 365);
      }

      this.checkCookie();
    }
  }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>