<template>
    <div class="footer-container">
        <footer class="wrapper flex justify-between container mx-auto pb-8">
           <ul class="text-left">
               
                <li>
                    <router-link  to="/"><span><img src="@/assets/arrow.svg" alt="strelica">Mašta može svašta</span></router-link>
                </li>
                <div class="masta">   
                     <li>
                        <router-link to="/o-sagoskatt-kolekciji"><span><img src="@/assets/arrow.svg" alt="strelica">O SAGOSKATT kolekciji</span></router-link>
                    </li>
                    <li>
                        <router-link to="/kako-sudjelovati"><span><img src="@/assets/arrow.svg" alt="strelica">Kako sudjelovati</span></router-link>
                    </li>
                    <li>
                        <router-link to="/glasaj-za-omiljeni-crtez"><span><img src="@/assets/arrow.svg">Glasaj za omiljeni crtež</span></router-link>
                    </li>
                    <li>
                        <router-link to="/raspored-crtanja"><span><img src="@/assets/arrow.svg" alt="strelica">Raspored crtanja</span></router-link>
                    </li>
                    <li>
                        <router-link to="/nagrade"><span><img src="@/assets/arrow.svg" alt="strelica">Nagrade</span></router-link>
                    </li>
                    
                    <li>
                        <router-link to="/objava-dobitnika"><span><img src="@/assets/arrow.svg">Objava dobitnika </span></router-link>
                    </li>
                    <li>
                        <router-link to="/pravila-za-dobrobit-djece"><span><img src="@/assets/arrow.svg" alt="strelica">Pravila</span></router-link>
                    </li>
                    
                <li>
                    <router-link to="/glasaj-za-dobrobit-djece"><span><img src="@/assets/arrow.svg">Glasaj za dobrobit djece</span></router-link>
                </li>
                </div>
                <div class="masta">
                    
                   <!--  <li>
                        <router-link to="/odaberi-humanitarnu-udrugu"><span><img src="@/assets/arrow.svg">Odaberi humanitarnu udrugu</span></router-link>

                    </li>
         
                     <li>
                        <router-link to="/pravila"><span><img src="@/assets/arrow.svg">Pravila</span></router-link>
                    </li> -->
                </div>
            </ul>
            <div class="pt-12 pr-16" id="animation_container" style="width:190px; height:160px">
                <iframe width="160" height="160" src="./animacije/300x600_Centipede/Centipede_animation_600x600.html" frameborder="0" allowfullscreen></iframe>
            </div>
        </footer>
        <div class="cookies">
            <div class="container  mx-auto flex justify-start sm:justify-between py-4">
                <div class="flex items-left text-white mr-6 ikea-logo">
                    <img src="@/assets/Ikea_logo.svg" alt="Ikea logo">
                </div>
                <div class="flex absolute sm:static pl-6 sm:pl-0 flex-col items-start sm:items-center pr-12">
                    <div>
                        <a @click="changehideCookieA" class="px-0 sm:px-1" href="#">Postavke kolačića</a> <!-- <a class="px-1" href="#">izbriši svoj glas</a> -->
                    </div>
                    <div style="font-size: 12px">
                        IKEA Systems B.V. 2019
                    </div>
                </div>
                <div class="flex   text-white mr-6">
                    1
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    name: 'Footer',
    props: {
        msg: String
    },

    mounted() {
        window.scrollTo(0, 0)

    },
    methods: {
        changehideCookieA(){
           // console.log('test')
           console.log(this)
            // return this.$store.$state.hideCookie = false;
            this.$store.commit('changehideCookie', false)
        }
    }


}
</script>
<style scoped lang="scss">
// FOOTER
.footer-container {
    // position: fixed;
    //    bottom: 0px;
    // color: black;
    // padding-top: 3rem;
    // width: 100%;

    // ul {
    //     a {
    //         text-decoration: underline;

    //         &:hover {
    //             font-weight: bold;
    //         }

    //         &:active {
    //             font-weight: bold;
    //         }
    //     }
    // }

    // .cookies {
    //     background: white;

    //     a {
    //         text-decoration: underline;
    //     }
    // }

    // .ikea-logo {
    //     position: relative;
    //     top: -54px;
    // }

    // .doodle{
    //  position: relative;
    //     top: -113px;
    // }



}
</style>