<template>
    <header class="header">
        <div class="nav_kakosudjelovati">
            <div class="container mx-auto">
                <nav class="flex items-center justify-between flex-wrap p-8">
                    <div class="flex items-left text-white mr-6">
                        <router-link to="/"><img src="@/assets/Home_icon.svg" alt="home"></router-link>
                    </div>
                    <div class="flex items-center text-white mr-6">
                        <a target="_blank" href="https://www.ikea.com/hr/hr/"><img src="@/assets/Ikea_logo.svg" alt="Ikea logo"></a>
                    </div>
                    <!--  <div class="flex items-right text-white mr-6">
                    <img src="@/assets/Hamburger.svg">
                </div> -->
                    <!-- HAMBURGER -->
                    <!-- <p v-on:click="isActive = !isActive">
                        <tasty-burger-button />
                    </p> -->
                    <p v-on:click="isActive = !isActive">
                        <tasty-burger-button />
                    </p>
                    <!--  <p id="navParagraf" v-on:click="isActive = !isActive"> <tasty-burger-button /> </p> -->
                    <!-- HAMBURGER -->
                    <!--   <p id="navParagraf" v-on:click="isActive = !isActive"> <tasty-burger-button /> </p> -->
                </nav>
            </div>
        </div>
        <!-- NAV LINKS -->
        <transition name="transform">
            <div v-if="isActive" class="linkHolderMobile">
                <div class="navWrapper">
                    <div class="linkHolder">
                        <ul class="text-left">
                            <li>
                                <router-link to="/"><span><img src="@/assets/arrow.svg" alt="strelica">Mašta može svašta</span></router-link>
                            </li>
                            <div class="masta">
                                <li>
                                    <router-link to="/o-sagoskatt-kolekciji"><span><img src="@/assets/arrow.svg" alt="strelica">O SAGOSKATT kolekciji</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/kako-sudjelovati"><span><img src="@/assets/arrow.svg" alt="strelica">Kako sudjelovati</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/glasaj-za-omiljeni-crtez"><span><img src="@/assets/arrow.svg">Glasaj za omiljeni crtež</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/raspored-crtanja"><span><img src="@/assets/arrow.svg" alt="strelica">Raspored crtanja</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/nagrade"><span><img src="@/assets/arrow.svg" alt="strelica">Nagrade</span></router-link>
                                </li>
                                <li>
                                    <router-link to="/objava-dobitnika"><span><img src="@/assets/arrow.svg">Objava dobitnika </span></router-link>
                                </li>
                                <li>
                                    <router-link to="/pravila-za-dobrobit-djece"><span><img src="@/assets/arrow.svg" alt="strelica">Pravila</span></router-link>
                                </li>
                                <li>
                                <router-link to="/glasaj-za-dobrobit-djece"><span><img src="@/assets/arrow.svg">Glasaj za dobrobit djece</span></router-link>
                            </li>
                            </div>
                            
                            <div class="masta">
                               <!--  <li>
                                    <router-link to="/odaberi-humanitarnu-udrugu"><span><img src="@/assets/arrow.svg">Odaberi humanitarnu udrugu</span></router-link>
                                </li> -->
                                <!-- <li>
                                    <router-link to="/pravila"><span><img src="@/assets/arrow.svg">Pravila</span></router-link>
                                </li> -->
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </transition>
        <CookiePolicy></CookiePolicy>
        <!-- Cookie -->
    </header>
</template>
<script>
import CookiePolicy from '@/components/CookiePolicy.vue'

export default {
    name: 'Header',
    props: {
        msg: String
    },
    components: {
        CookiePolicy
    },
    mounted() {
        // function setCookie(cname, cvalue, exdays) {
        //     var d = new Date();
        //     d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        //     var expires = "expires=" + d.toGMTString();
        //     document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
        // }

        // function getCookie(cname) {
        //     var name = cname + "=";
        //     var decodedCookie = decodeURIComponent(document.cookie);
        //     var ca = decodedCookie.split(';');
        //     for (var i = 0; i < ca.length; i++) {
        //         var c = ca[i];
        //         while (c.charAt(0) == ' ') {
        //             c = c.substring(1);
        //         }
        //         if (c.indexOf(name) == 0) {
        //             return c.substring(name.length, c.length);
        //         }
        //     }
        //     return "";
        // }
       
    },
    data() {
        return {
            buttonType: 'collapse',
            isActive: false,
            size: 'sm',
            color: 'black',
            activeColor: 'black'
        }
    },

}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
</style>